*.exe
test.*
New folder/
.vscode/
__pycache__/

Images/
Resources/
resources/
image/
video/
Output/
Test/
test/

Modul Pembelajaran IoT (bedabisa.com)/
Dokumentasi/
Judul Lama/
Penelitian Relevan/
Referensi/
Rujukan/
image/
Surat-surat/

.firebase/
node_modules/
.tmp.driveupload/
desktop.ini