*.exe
test.*
New folder/
.vscode/
__pycache__/

/vendor/
/node_modules/
/.env
/public/build/

Images/
Resources/
resources/
image/
video/
Output/
Test/
test/
built/

Modul Pembelajaran IoT (bedabisa.com)/
Dokumentasi/
Judul Lama/
Penelitian Relevan/
Referensi/
Rujukan/
image/
Surat-surat/

.firebase/
node_modules/
.tmp.driveupload/
desktop.ini

myenv/
dart-sdk/