* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #1690A7;
}

.header {
    display: flex;
    background-color: #0000ff;
    margin-bottom: 10px;
    border-radius: 8px;
    align-items: center;
}

img.logo-unp {
    width: 100px;
}

img.hmte-unp {
    width: 100px;
    border-right: 3px solid black;
    padding-right: 10px;
}

p.judul {
    flex-grow: 1;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    font-weight: 1000;
    color: darkred;
}

a {
    background: darkred;
    padding: 10px 15px;
    color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
    width: auto;
    height: 20%;
}

a:hover {
    opacity: .7;
}

#clock {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}